<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Food Brain!</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- include('./partials/navbar') %> <%- body %>
  </body>
</html>
