<div class="intro">
  <h1>Your Food Log</h1>
</div>
<div>
  <% if (summaries.length === 0) { %>
  <p>No food logs available.</p>
  <% } else { %>

  <ul class="list">
    <% summaries.forEach(day => { %>
    <li class="daily-log-card">
      <a href="./logs/<%= day.date_eaten %>">
        <div class="log-date"><%= day.date_eaten %></div>
        <div class="log-stats">
          <span><strong><%= day.total_items %></strong> items</span>
          <span><strong><%= day.total_calories %></strong> calories</span>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>

  <% } %>
</div>
