<div class="form-card">
  <h2>Login</h2>
  <% if (errors && errors.length > 0) { %>
  <div>
    <ul>
      <% errors.forEach(function(err) { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>
  <form method="POST" action="/users/loggedin">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        id="username"
        type="text"
        name="username"
        maxlength="50"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" required />
    </div>
    <input type="submit" class="btn" value="Login" />
  </form>
  <p>Dont have an account? <a href="register">Create one here</a>.</p>
</div>
