<div class="form-card">
  <h2>Register with us!</h2>

  <% if (errors && errors.length > 0) { %>
  <div>
    <ul>
      <% errors.forEach(function(err) { %>
      <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>
  <% } %>

  <form method="POST" action="registered">
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" maxlength="255" required />
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        id="username"
        type="text"
        name="username"
        maxlength="50"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" required />
      <p>
        Must be at least 8 characters and include at least 1 uppercase, and 1
        number.
      </p>
    </div>
    <div class="form-group">
      <label for="first">First name: (optional)</label>
      <input id="first" type="text" name="first" maxlength="100" required />
    </div>
    <div class="form-group">
      <label for="last">Last name: (optional)</label>
      <input id="last" type="text" name="last" maxlength="100" required />
    </div>
    <input type="submit" class="btn" value="Register" />
  </form>
  <p>Already have an account? <a href="login">Login here</a>.</p>
</div>
