<div class="intro">
  <form action="/foods/search" method="GET" class="search-form">
    <input
      id="search-box"
      type="text"
      name="search_text"
      value="<%= searchText || '' %>"
      placeholder="Search for food..."
    />

    <button type="submit" class="btn">Search</button>
  </form>
  <h1>Your foods:</h1>
</div>
<% if (!availableFoods || availableFoods.length === 0) { %>
<p>No foods match your search.</p>
<% } else { %>

<ul class="list">
  <% availableFoods.forEach(food => { %>
  <li class="food-card">
    <div class="food-info">
      <span class="food-name"><%= food.name %></span>
      <span class="food-calories"><%= food.calories %> calories</span>
    </div>

    <form action="/foods/delete/<%= food.id %>" method="POST">
      <button
        type="submit"
        class="delete-btn"
        onclick="return confirm('Delete grub? This will delete all instances of it including in your log!');"
      >
        Delete
      </button>
    </form>
  </li>
  <% }) %>
</ul>

<% } %>
