<body>
  <h1>Users</h1>
  <h2>Here are our users:</h2>
  <ul>
    <% for(let i = 0; i < availableUsers.length; i++) { %>
    <li><%= availableUsers[i].username %>, <%= availableUsers[i].email %></li>
    <% } %>
  </ul>
</body>
