<!DOCTYPE html>
<html>
  <head>
    <title><%=shopData.shopName%> Users</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Users</h1>
    <h2>Here are our users:</h2>
    <ul>
      <!-- goes through availableUsers array and lists each username and email -->
      <% for(let i = 0; i < availableUsers.length; i++) { %>
      <li><%= availableUsers[i].username %>, <%= availableUsers[i].email %></li>
      <% } %>
    </ul>
  </body>
</html>
